%h2 Register your credit card
- if @creation_results
  %p
    = "The #{@creation_results[:credit_network]} card number #{@creation_results[:number]}, owned by #{@creation_results[:owner]}, with expiration date #{@creation_results[:expiration_date]} has been registered to our database."
%form{:action => '/newcard', :method => 'post', :id => 'user-form'}
  %label{:for => 'cred_card_num'} Credit Card Number
  %input{:type => 'text', :name => 'credit_card_num', :id => 'cred_card_num', :placeholder => '(enter a credit card number)'}
  %label{:for => 'cred_card_owner'} Name on Credit Card
  %input{:type => 'text', :name => 'cc_owner', :id => 'cred_card_owner', :placeholder => '(enter the owners name)'}
  %label{:for => 'cred_card_exp_date'} Expiration Date
  %input{:type => 'text', :name => 'cc_exp_date', :id => 'cred_card_exp_date', :placeholder => '(enter the expiration date)'}
  %label{:for => 'cred_card_net'} Credit Network
  %input{:type => 'text', :name => 'cc_net', :id => 'cred_card_net', :placeholder => '(enter credit network)'}
  %input{:type => 'submit', :id => 'home-form-submit', :class => 'submit', :value => 'Register'}
